#
#       ██████╗ ██╗  ██╗ ██████╗ ███████╗████████╗████████╗██╗   ██╗
#      ██╔════╝ ██║  ██║██╔═══██╗██╔════╝╚══██╔══╝╚══██╔══╝╚██╗ ██╔╝
#      ██║  ███╗███████║██║   ██║███████╗   ██║      ██║    ╚████╔╝
#      ██║   ██║██╔══██║██║   ██║╚════██║   ██║      ██║     ╚██╔╝
#      ╚██████╔╝██║  ██║╚██████╔╝███████║   ██║      ██║      ██║
#       ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚══════╝   ╚═╝      ╚═╝      ╚═╝
#
#                      Ghostty Terminal Config 👻
#

# --- macOS behavior ---
# Treat Option key as Alt on macOS
macos-option-as-alt = true
# Use non-native fullscreen (fast; no tab support)
macos-non-native-fullscreen = true
# Use a tab-integrated titlebar
macos-titlebar-style = tabs
# Do not restore window state on startup
window-save-state = never

# --- Shell integration & appearance ---
# Enable zsh shell integration
shell-integration = zsh
# Disable shell integration cursor changes
shell-integration-features = no-cursor
# Set background to 90% opacity
background-opacity = 0.9
# Balance extra padding in viewport
window-padding-balance = true
# Disable blinking cursor
cursor-style-blink = true

#Key-bind

keybind = ctrl+s=new_split:right
keybind = ctrl+z=close_surface
